
body {
    background-color: #F9FAFC;
    font-family: 'Bitter', serif;
}

.light-bg {
    background-color: #fff;
}

.main-bg {
    background-color: #F9FAFC;
}

.section-bg {
    background-image: url('/static/images/riba.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    height: 400px;
}

.section-bg p {
    background-color: rgba(114, 63, 95, 0.6);
    padding: 40px;
    height: 120px;
    width: 400px;
}

.primary {
    background-color: rgba(114, 63, 95, 1);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    background-color: rgba(252, 185, 0, 1);
    position: absolute;
    bottom: 5%;
    min-width: 30%;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 40vh;
    width: 100%;
}

.masthead-text {
    background-color: rgb(211, 210, 210);
    color: rgba(114, 63, 95, 1);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow-y: auto;
    max-height: 300px;
}

.masthead-image img {
    width: 100%;
    height: auto;
    display: block;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: rgba(114, 63, 95, 1);
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: rgba(114, 63, 95, 1);
}

.btn-signup {
    background-color: rgba(114, 63, 95, 1);
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: rgba(252, 185, 0, 1);
    color: #fff;
}

.link {
    color: rgba(114, 63, 95, 1);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

footer {
    font-family: 'Bitter', serif;
}