{% extends "base.html" %}

{% block content %}

<div class="container log-in mt-4 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3 class="text-center mt-3 fw-bold fs-3">Update your profile here!</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-signup right">Save Changes</button>
                </div>
                <div class="text-center">
                    <a href="{% url 'profile' %}" class="btn btn-signup right mt-4 mb-4">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>


{%endblock%}

