{% extends "base.html" %}

{% block content %}

<div class="container log-in mt-4 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3 class="text-center">Profile Detail</h3>

            {% if user_profile.profile_picture %}
                <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="rounded-circle img-fluid mx-auto d-block">
            {% else %}
                <img src="/static/images/profile.jpg" alt="Placeholder" class="rounded-circle img-fluid mx-auto d-block">
            {% endif %}
            <p>Username: {{ user_profile.user.username }}</p>
            <p>Bio: {{ user_profile.bio }}</p>
        </div>
    </div>
</div>


{%endblock%}

